// header

.header {
  width: 100%;
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: solid 1px $gray-g;
  background-color: $brand-white;
}

.header__menu {}

.header__logo {}

.header__logo-img {
  width: 170px;

  @media (min-width: 768px) {
    width: 270px;
  }
}

.header__user-img {
  max-width: 100%;
  max-height: 40px;
  border-radius: 50%;
  vertical-align: top;
}