// main nav
.main-nav {
  position: fixed;
  left: 0;
  max-width: 500px;
  background: $brand-white;
  padding: 20px;
  top: $headerHeight;
  bottom: 0;
  transform: translateX(-110%);
  transition: transform 300ms ease-in-out;
  z-index: 9;
  border-right: solid 1px $gray-g;
}

.main-nav--in {
  transform: none;
}

.main-nav__ul {
  margin: 0;
  padding: 0;
}

.main-nav__link {
  display: block;
  padding: 5px;
}