
.post {
  width: 100%;
  background-color: $brand-white;
  padding: 10px 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px #ccc;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 450ms, transform 500ms ease-in-out;

  &.post--in {
    transform: none;
    opacity: 1;
  }
}

.post__user {
  display: flex;
  margin-bottom: 5px;
}

.post__user-img {
  max-width: 100%;
  max-height: 40px;
  border-radius: 50%;
  vertical-align: top;
}

.post__user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;

  p {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
}

.post__user-details-link {
  color: $brand-black;
  text-decoration: none;

  &:visited {
    color: $brand-black;
  }
}

.post__media {
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;

  video {
    width: 100%;
  }

  img,
  video {
    max-width: 100%;
    vertical-align: top;
  }
}

.post-media__shop-look {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  // z-index: -1;

  // transform: translatey(110%);
  opacity: 0;
  transition: opacity 600ms, transform 300ms ease-in-out;

  .post-media--shop-look-in & {
    opacity: 1;
    // transform: none;
    z-index: 2;
  }  
}

.shop-look-spot {
  position: absolute;

  span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 1px #c7c7c7;
  }

  &.shop-look-spot--1 {
    top: 15%;
    left: 12%;

    span {
      background-color: #ab6161;
    }
  }

  &.shop-look-spot--2 {
    top: 83%;
    left: 42%;

    span {
      background-color: #3279c3;
    }    
  }

  &.shop-look-spot--3 {
    top: 30%;
    left: 80%;

    span {
      background-color: #f9981f;

    }    
  }
}

.look-product {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: $gray-e;
  transform: translateX(110%);
  
  @media (min-width: 768px) {
    width: 300px;
    border-left: solid 1px $brand-black;
  }
  
  transition: transform 300ms ease-in-out;

  &.look-product--in {
    transform: none;
  }

  .look-product__close {
    position: absolute;
    top: 10px;
    left: 10px;

    svg {
      width: 28px;
      height: 28px;
      fill: $brand-black;
    }
  }

  .look-product__inner {
    height: 100%;
  }

  .look-product__wrapper {
    color: $color-text;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
  }

  .look-product__img {
    text-align: center;
    margin-bottom: 10px;

    img {
      height: 70px;

      @media (min-width: 768px) {
        height: 100px;
      }
    }
  }

  .look-product__detail {
    text-align: center;
    margin-bottom: 10px;
  }

  .look-product__name {
    font-size: 18px;
  }

  .look-product__desc {
    font-size: 14px;
    line-height: 18px;
  }

  .look-product__price {
    font-size: 16px;
    font-weight: 700;
  }

  .look-product__actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .look-product__link {
    display: flex;
    align-items: center;
  
    svg {
      width: 24px;
      height: 24px;
      fill: $brand-black;
      transition: transform 300ms ease-in-out;
    }

    &:hover {

      svg {
        transform: scale(1.1);
      }
    }
  }
}

.post__video-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .post__media--video-in & {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

  svg {
    fill: $brand-white;
    width: 40px;
    height: 40px;
  }
}

.post__thumbs {
  display: flex;

  .thumb {
    position: relative;
    margin-right: 5px;

    img {
      max-width: 100%;
      max-height: 40px;
      vertical-align: top;
    }
  }

  .thumb__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 50%;
      height: 50%;
      fill: $brand-white;
    }
  }
}

.post__image-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-look {
  padding-right: 5px;
}

.shop-look__btn {

  &:hover {
    .shop-look__text {
      text-decoration: underline;
    }
  }
}


.shop-look__circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f9981f;
  margin-left: 5px;
}

.post__social {
  display: flex;
  padding-top: 5px;
  margin-bottom: 10px;
}

.post__like {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  
  span {
    font-size: 12px;
  }

  svg {
    width: 28px;
    height: 28px;
    fill: $pink-a;
  }
}

.post__chat {
  display: flex;
  flex-direction: column;
  padding-top: 4px;

  svg {
    width: 22px;
    height: 22px;
  }
}

.post__title {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}

.post__copy {

  p {
    font-size: 14px;
    line-height: 16px;
  }
}

.post__tags {

}

.post__tag-link {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: $brand-black;

  &:hover {
    text-decoration: underline;
  }
}
